include LICENSE
include LICENSE.Apache-2.0
include LICENSE.MIT
include README.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py *.jpg *.png *.gif
