[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
bumpversion = "*"
sphinx = "*"
sphinxcontrib-trio = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pre-commit = "*"

[pipenv]
allow_prereleases = true

[packages.discord-hero]
editable = true
path = "."
extras = [ "redis", "postgresql",]
